<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Default Title</title>
</head>
<body>
<form action='hello' method='post'>
    <input type='text' name='name'>
    <select name='language'>
        <option value='english'> English </option>
        <option value='french'> French </option>
        <option value='spanish'> Spanish </option>
        <option value='dutch'> Dutch </option>
        <option value='british'> British </option>
        </select>
    <input type='submit' value='Greet me!'>
    </form>
</body>
</html>